<div>
    {{foodTitle}} <br>
    {{foodSource}} <br>
    {{foodProtein}} <br>
    {{foodCarb}} <br>
    {{foodFat}} <br>
    {{foodCalorie}} <br>
    {{guessProtein}} <br>
    {{guessCarb}} <br>
    {{guessFat}} <br>
    {{guessCalorie}} <br>

    <a href="/">Guess Again</a>
    <a href="/preferences">Preferences</a>
</div>