{{!-- <div class="container">
    <div class="flex-row flex-wrap">
        <div class="p-2">
            <img src={{foodImage}} alt={{foodTitle}} class="img-thumbnail">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title"><a href={{foodSourceUrl}}>{{foodTitle}}</a></h4>
            <div class="nutrition-block" style="display: none;">
                <p class="card-text">
                    {{foodProteins}} <br>
                    {{foodCarbs}} <br>
                    {{foodFats}} <br>
                    {{foodCalories}} <br>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="guess-block">

</div> --}}

<div class="container">
    <div class="flex-row flex-wrap">
        <div id="food_image"></div>
        {{!-- <h2 class="text-left text-wrap text-uppercase font-weight-bold"><a id="food_header"></a></h2> --}}
        <div id="food_masthead">
            <h2></h2>
        </div>
        <div id="display_facts" class="d-none">
            <ul class="list-group list-group-flush" id="facts_list"></ul>
        </div>
    </div>

</div>

<div class="border rounded mx-auto mt-3" id="index">
    <form onsubmit="guessCheck()">
        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="text" class="form-control" id="calories">
        </div>
        <div class="form-group">
            <label for="carbs">Carbohydrates</label>
            <input type="text" class="form-control" id="carbs">
        </div>
        <div class="form-group">
            <label for="protein">Protein</label>
            <input type="text" class="form-control" id="protein">
        </div>
        <div class="form-group">
            <label for="fats">Fats</label>
            <input type="text" class="form-control" id="fats">
        </div>
        <input type="submit" value="Guess">
    </form>
</div>
<a href="/preference">Preferences</a>
<br>
<button id="next_request" class="btn btn-primary">Guess Again</button>