<div class="container">
    <div class="card flex-row flex-wrap">
        <div class="card-header p-2">
            <img src={{foodImage}} alt={{foodTitle}}>
        </div>
        <div class="card-block px-2">
            <h4 class="card-title"><a href={{foodSourceUrl}}>{{foodTitle}}</a></h4>
            <p class="card-text">
                {{foodProteins}} <br>
                {{foodCarbs}} <br>
                {{foodFats}} <br>
                {{foodCalories}} <br>
            </p>
        </div>
    </div>
</div>

<div class="border rounded mx-auto mt-3" id="index">
    <form onsubmit="guessCheck()">
        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="text" class="form-control" id="calories">
        </div>
        <div class="form-group">
            <label for="carbs">Carbohydrates</label>
            <input type="text" class="form-control" id="carbs">
        </div>
        <div class="form-group">
            <label for="protein">Protein</label>
            <input type="text" class="form-control" id="apiKey">
        </div>
        <div class="form-group">
            <label for="fats">Fats</label>
            <input type="text" class="form-control" id="fats">
        </div>
        <input type="submit" value="Guess">
    </form>
</div>
<a href="/preference">Preferences</a>