<div class="media">
    <img src={{foodImage}} class="mr-3" alt={{foodTitle}}>
    <div class="media-body">
        <h5 class="mt-0"><a href={{foodSource}}>{{foodTitle}}</a></h5>
        {{foodSummary}}
    </div>
</div>
<div class="border rounded mx-auto mt-3" id="index">
    <form method="GET" action="/submit">
        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="text" class="form-control" id="calories">
        </div>
        <div class="form-group">
            <label for="carbs">Carbohydrates</label>
            <input type="text" class="form-control" id="carbs">
        </div>
        <div class="form-group">
            <label for="protein">protein</label>
            <input type="text" class="form-control" id="apiKey">
        </div>
        <div class="form-group">
            <label for="fats">Fats</label>
            <input type="text" class="form-control" id="fats">
        </div>
        <input type="submit" value="Guess">
    </form>
</div>
<button class="btn-secondary">Next</button>
<a href="/preferences">Preferences</a>