<div class="media">
    <img src={{foodImage}} class="mr-3" alt={{foodTitle}}>
    <div class="media-body">
        <h5 class="mt-0"><a href={{foodSource}}>{{foodTitle}}</a></h5>
    </div>
{{#if foodCarb}}
<div>{{foodCarb}}</div>
{{/if}}
{{#if foodCalorie}}
<div>{{foodCalorie}}</div>
{{/if}}
{{#if foodProtein}}
<div>{{foodProtein}}</div>
{{/if}}
{{#if foodFat}}
<div>{{foodFat}}</div>
{{/if}}

{{#if guessCarb}}
<div>{{guessCarb}}</div>
{{/if}}
{{#if guessCalorie}}
<div>{{guessCalorie}}</div>
{{/if}}
{{#if guessProtein}}
<div>{{guessProtein}}</div>
{{/if}}
{{#if guessFat}}
<div>{{guessFat}}</div>
{{/if}}

<div class="border rounded mx-auto mt-3" id="index">
    <form method="POST" action="/">
        <div class="form-group">
            <label for="calories">Calories</label>
            <input type="text" class="form-control" id="calories">
        </div>
        <div class="form-group">
            <label for="carbs">Carbohydrates</label>
            <input type="text" class="form-control" id="carbs">
        </div>
        <div class="form-group">
            <label for="protein">Protein</label>
            <input type="text" class="form-control" id="apiKey">
        </div>
        <div class="form-group">
            <label for="fats">Fats</label>
            <input type="text" class="form-control" id="fats">
        </div>
        <input type="submit" value="Guess">
    </form>
</div>
<a href="/preferences">Preferences</a>