<form action="/preferences" method="post" id="settings-form">
    <div> Cuisines</div>
    <div class="d-flex align-content-end flex-wrap">
        {{#each cuisine}}
        <div class="form-check p-3">
            <input class="form-check-input" type="checkbox" id="cuisine" name="cuisine" value={{this.name}}>
            <label class="form-check-label" for="cuisine">{{this.name}}</label>
        </div>
        {{/each}}
    </div>
    <br>
    <div>Diets</div>
    <div class="d-flex align-content-end flex-wrap">
        {{#each diet}}
        <div class="form-check p-3">
            <input class="form-check-input" type="checkbox" id="diet" name="diet" value={{this.name}}>
            <label class="form-check-label" for={{this.name}}>{{this.name}}</label>
        </div>
        {{/each}}
    </div>
    <br>
    <button class="btn-lg" type="submit">Submit</button>
    <br>
</form>